<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <!--- o / antes de style significa que o arquivo será buscado dentro da pasta public -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Bootstrap adicionado -->
    <title>Login</title>
</head>

<body>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                Register Form
            </div>
            <div class="card-body">
                <form action="/auth/register" method="POST"> <!-- Para onde será enviado as informações do form. Geralmente quando se envia info de um formulário é usado o método POST -->
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name"> <!-- Esse name é um nome que a gente dá ao input para puxar ele pelo NODE.JS -->
                    </div>

                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>

                    <div class="form-group">
                        <label for="passwordConfirm">Confirm Password</label>
                        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm">
                    </div>

                    <button type="submit" class="btn btn-primary">Register User</button>
                </form>
            </div>
        </div>

        {{#if message }} <!-- É assim que se usa IF com handlebars. Retorna TRUE ou FALSE -->
            <h4 class="alert alert-danger mt-4">{{message}}</h4> <!-- Se houver uma mensagem, mostre-a -->
        {{/if}} <!-- Também se fecha -->
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>